 <div class="back-col">
  <h1 class= "text-center font-title">Select your prefered doctor</h1>
  <div class="d-flex">
      <div class="container disposition d-flex">
        <div class="wrapmrgn">
          <% @doctors.each do |user| %>
            <%full_name = "#{user.first_name} #{user.last_name}" %>
            <%# ------the whole DIV is now a button taking us to the doctors show page below %>
            <%= link_to user_path(user) do %>

              <div class="card-product btn bord-rad">
              <%# <%=link_to "see profile", user_path, class: "btn"  %>
                <div class="shadow bord-rad">
                  <%=image_tag user.image_url, class: "img-size img-thumbnail"%>
                </div>
                <div class="card-product-infos">
                  <h2><%=full_name %></h2>
                  <p><%=user.bio%></p>
                  <%=user.locations.first.name%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class= "bord-rad shadow marg-right sticky-top my-3" style="width: 600px; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>
