<h1>Show page for users_controller</h1>

<div class="container">
  <div class="show-page-card">
    <div class="show-page-photo-card">
      <%= image_tag @user.image_url %>
      <p></p>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p>Location</p>
      <a href="#" class="button">Profile</a>
    </div>

    <div class="show-page-calander-card">
    <%# 1. Controller to instantiate a Controller 2. Data-Target replaces the querySelector 3. Data-Action == eventListener %>
      <div class="calander" data-datepicker-target="calendar" >
        <%# <input type="text" placeholder="Select Date.." data-controller="datepicker"> %>
        <%= form_with url: new_user_appointment_path(@user), method: :get, class: "d-flex flex-column" do %>
          <%= text_field_tag :appointment_date,
                params[:appointment_date],
                class: "form-control",
                hidden: true,
                placeholder: "Type a keyword",
                data: { controller: "datepicker" }
            %>
          <%= submit_tag "Check Availability", class: "btn btn-primary " %>
        <% end %>
      </div>
    </div>
  </div>

<div class="bio-card">
<p>Bio-card</p>
</div>

<div class="bio-card">
<p>Pricing</p>
</div>

<div class="bio-card">
<p>Location</p>
</div>

<div class="bio-card">
<p>Review</p>
</div>





</div>










<%# -------TEST-----CODE---------------------------------DW---- %>
<p> Email: <%= @user.email %></p>
<p> Bio: <%= @user.bio %></p>
<p> Speciality: <%= @user.specialty %></p>
<p> Image: <%= @user.image_url %></p>
<p> Role: <%= @user.role %></p>
<p> First name: <%= @user.first_name %></p>
<p> Last name: <%= @user.last_name %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p> Gender: <%= @user.gender %></p>
<p> DOB: <%= @user.date_of_birth %></p>
<p> Past Intervention: <%= @user.past_interventions %></p>
<p> Allergies: <%= @user.allergies %></p>
<p> Insurance:n<%= @user.insurance_provider %></p>

<table class="table table-success">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">DOB</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.date_of_birth %></td>
      <td><%= @user.gender %></td>
    </tr>

  </tbody>
</table>
<%# ---------DW----TEST CODE END--------- %>
