<div class="container flexbox-wrapper">

  <div>

  <div class="show-page-card">
    <div class="show-page-photo-card">
      <% image_tag @doctor.image_url %>
      <p></p>
      <h2><%= @doctor.first_name %> <%= @doctor.last_name %></h2>
      <p> Location: <%= @doctor.locations.last.address%></p>
      <%# <a href="/new_user_appointment" class="button">Book</a> %>
      <%= link_to "Book", new_user_appointment_path(@doctor), class: "button" %>
    </div>

    <div class="show-page-calander-card">
    <%# 1. Controller to instantiate a Controller 2. Data-Target replaces the querySelector 3. Data-Action == eventListener %>
      <div class="calander d-flex justify-content-center">
        <%# <input type="text" placeholder="Select Date.." data-controller="datepicker"> %>
        <%= form_with method: :get, class: "d-flex flex-column" do %>
          <%= text_field_tag :appointment_date,
                params[:appointment_date],
                class: "form-control",
                hidden: true,
                placeholder: "Type a keyword",
                # The Controller should Listen for a submit and capture the params[:appointment_date]
                data: { controller: "datepicker", action: "click->setDate" , target: "appointment_date" }
            %>
            <%# We need to add a Procedure dropdown to get its duration %>
          <%= submit_tag "Check Availability", class: "btn btn-primary mt-3",
           data: { bs_toggle: "modal", bs_target: "#exampleModal"} %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="bio-card">
    <h1>Bio-card</h1>

    <div class="inner">
        <div><p>Establishment : <%= @doctor.specialty %></p></div>
        <div><p>Year : 🤯</p></div>
    </div>


      <div class="expertise">
        <p>Expertise & Procedures : <%= @doctor.bio %> </p>
      </div>


  </div>

  <div class="bio-card">
    <h1>Pricing</h1>
     <% @doctor.procedures.each do |procedure| %>

      <p>Name: <%= procedure.name%></p> <p>Cost: £ <%= procedure.price %> 💷</p>
      <p>Duration: <%= procedure.duration %> mins ⏳ </p>
    <% end %>
  </div>

  <div class="bio-card">
    <h1>Location</h1>
    <% @doctor.locations.each do |location| %>
      📍
      <%= location.name %>
      <%= location.address %>
    <% end %>
  </div>

  <%# --------MAP----DIV BELOW------------- %>
  <div class="sticky" style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>





<!-- Modal -->
<div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body d-flex">
        <div class="show-page-photo-card mx-3">
          <%= image_tag @doctor.image_url %>
          <h2 class="my-3"><strong>Dr.<%= @doctor.first_name %> <%= @doctor.last_name %></strong></h2>
          <h2><%= @doctor.specialty %></h2>
        </div>
        <div>
          <p>Please choose the Procedure below:</p>
          <ol>
          <% @doctor.procedures.each do |p| %>
              <li><%= p.name %> takes <%= p.duration %> minutes and costs £<%= number_with_delimiter(p.price)%></li>
          <% end %>
          </ol>
        </div>
      </div>
      <div class="modal-body border-top">
        <%= simple_form_for [@doctor, @appointment] do |f| %>
          <%# We need to the get the DD/MM/YYYY from the simple_form above, somehow %>
          <%= f.input :start_time, html5: true, input_html: { value: @date } %>
          <%= f.input :end_time, html5: true, input_html: { value: @date } %>
          <%= hidden_field_tag 'date', @date %>
          <%= f.input :symptoms %>
          <%# <%= f.association :doctor, collection: @doctor.specialty, prompt: "Choose the procedure" %>

      </div>
      <div class="modal-footer">

            <%= f.submit "Checkout", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
