<%# <h1>Show page for users_controller</h1> %>

<div class="container flexbox-wrapper">

  <div>

  <div class="show-page-card">
    <div class="show-page-photo-card">
      <%= image_tag @user.image_url %>
      <p></p>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p>Location</p>
      <%# <a href="/new_user_appointment" class="button">Book</a> %>
      <%= link_to "Book", new_user_appointment_path(@user), class: "button" %>
    </div>

    <div class="show-page-calander-card">
      <h2>Month?</h2>
        <div class="calander">Calander--Here</div>
    </div>
  </div>

  <div class="bio-card">
    <h1>Bio-card</h1>

    <div class="inner">
        <div><p>Establishment : <%= @user.specialty %></p></div>
        <div><p>Year : 🤯</p></div>
    </div>


      <div class="expertise">
        <p>Expertise & Procedures : <%= @user.bio %> </p>
      </div>


  </div>

  <div class="bio-card">
    <h1>Pricing</h1>
  </div>

  <div class="bio-card">
    <h1>Location</h1>
  </div>

  <div class="review-card">
    <h1>Review</h1>

        <div>

        </div>

  </div>

</div>
<%# --------MAP----DIV BELOW------------- %>
<div class="sticky">
<%# <p>Map</p> %>
<%= image_tag "temp-map", width: 510 %>
</div>




</div>
