<div class="container flexbox-wrapper">

  <div>

  <div class="show-page-card">
    <div class="show-page-photo-card">
      <%= image_tag @doctor.image_url %>
      <p></p>
      <h2><%= @doctor.first_name %> <%= @doctor.last_name %></h2>
      <p>Location</p>
      <%# <a href="/new_user_appointment" class="button">Book</a> %>
      <%= link_to "Book", new_user_appointment_path(@doctor), class: "button" %>
    </div>

    <div class="show-page-calander-card">
    <%# 1. Controller to instantiate a Controller 2. Data-Target replaces the querySelector 3. Data-Action == eventListener %>
      <div class="calander d-flex justify-content-center" data-datepicker-target="calendar" >
        <%# <input type="text" placeholder="Select Date.." data-controller="datepicker"> %>
        <%= form_with method: :get, class: "d-flex flex-column" do %>
          <%= text_field_tag :appointment_date,
                params[:appointment_date],
                class: "form-control",
                hidden: true,
                placeholder: "Type a keyword",
                data: { controller: "datepicker" }
            %>
          <%= submit_tag "Check Availability", class: "btn btn-primary mt-3", data: { bs_toggle: "modal", bs_target: "#exampleModal"} %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="bio-card">
    <h1>Bio-card</h1>

    <div class="inner">
        <div><p>Establishment : <%= @doctor.specialty %></p></div>
        <div><p>Year : 🤯</p></div>
    </div>


      <div class="expertise">
        <p>Expertise & Procedures : <%= @doctor.bio %> </p>
      </div>


  </div>

  <div class="bio-card">
    <h1>Pricing</h1>
     <% @doctor.procedures.each do |procedure| %>

      <p>Name: <%= procedure.name%></p> <p>Cost: £ <%= procedure.price %> 💷</p>
      <p>Duration: <%= procedure.duration %> mins ⏳ </p>
    <% end %>
  </div>

  <div class="bio-card">
    <h1>Location</h1>
    <% @doctor.locations.each do |location| %>
      📍
      <%= location.name %>
      <%= location.address %>
    <% end %>
  </div>

</div>
  <%# --------MAP----DIV BELOW------------- %>
  <div class="sticky">
    <%# <p>Map</p> %>
    <%= image_tag "temp-map", width: 510 %>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= simple_form_for [@doctor, @appointment] do |f| %>
            <%= f.input :start_time, html5: true, input_html: { value: @date } %>
            <%= f.input :end_time, html5: true %>
            <%= f.input :symptoms %>
      </div>
      <div class="modal-footer">
            <%= f.submit "Checkout", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
