

<div class="body-container">
  <div class="bio-reviews-container">
    <div class="show-page-card align-items-center">
      <div class="show-page-photo-card">
        <%= image_tag @doctor.image_url%>
        <h2>Dr.<%= @doctor.first_name %> <%= @doctor.last_name %></h2>
        <% unless @reviews.empty? %>
          <% review_avg = 0 %>
          <% counter = 0 %>
          <p><% @reviews.each do |review| %>
              <% review_avg += review.rating %>
               <% counter += 1 %>
            <% end %>
            <% (review_avg / @reviews.length).times do  %>
              <i class="fa-solid fa-star fa-lg" style="color: #ffb503;"></i>
            <% end %>
          </p>
          <span style="font-size: 12px">(<%= counter %> reviews)</span>
        <% else %>
          <p>
            No reviews yet
          </p>
        <% end %>
        <p><strong>Specialty: <%= @doctor.specialty%></strong></p>
      </div>
      <div class="show-page-calendar-card h-100">
        <div class="calendar d-flex justify-content-between">
          <%# <input type="text" placeholder="Select Date.." data-controller="datepicker"> %>
          <%= form_with url: booking_appointment_path(
            params[:id],
            appointment_date: params[:appointment_date],
            procedure_id: params[:procedure_id],
            ), method: :get do |f| %>
            <div class="calendar-wrapper">
              <%= f.text_field :appointment_date,
                value: params[:appointment_date],
                class: "form-control",
                hidden: true,
                placeholder: "Type a keyword",
                # The Controller should Listen for a submit and capture the params[:appointment_date]
                data: { controller: "datepicker" }
              %>
              <div class="category-wrapper p-2">
                <h5 class="text-center mb-2">Select your procedure:</h5>
                <div class="category-grid">
                  <% @doctor.procedures.each do |procedure| %>
                    <div class="category-item">
                      <%= f.radio_button :procedure_id, procedure.id, class: 'form-check-input radio_buttons required category-selector', data: { style: 'ruby' }, id: "snippet_category_id_#{procedure.id}" %>
                      <%= f.label "snippet_category_id_#{procedure.id}", procedure.name, class: 'form-check-label collection_radio_buttons' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <%= submit_tag "Check Availability", class: "btn btn-primary m-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <div class="bio-card">
      <p class="title"><b>Biography </b></p>
      <div class="inner">
          <div><p><b>Establishment</b><br><i class="fa-solid fa-user-doctor fa-lg" style="color: #4a4e69;"></i> <%= @doctor.specialty %></p></div>
          <div><p><b>Year : <%= rand(1985..2004) %></b></p></div>
      </div>
      <div class="expertise">
        <p><b>Expertise & Procedures</b><br><i class="fa-solid fa-user-doctor fa-lg" style="color: #4a4e69;"></i> <%= @doctor.bio %></p>
      </div>
    </div>


    <div class="location-card">
      <p class="title"><b>Location</b></p>
      <div class="inside">
        <% @doctor.locations.each do |location| %>
          <i class="fa-solid fa-house-medical fa-lg" style="color: #4a4e69;"></i>
          <%= location.name %><span>: </span>
          <%= location.address %> <br><br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="map-price-container">
    <div class="price-card">
      <p class="title"><b>Pricing</b></p>
      <div class="inside">
        <table class="table table-borderless">
          <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Duration</th>
          </tr>
          <% @doctor.procedures.each do |procedure| %>
          <tr>
            <th><%= procedure.name%></th>
            <th>£ <%= procedure.price %></th>
            <th><%= procedure.duration %> min</th>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

    <%# --------MAP----DIV BELOW------------- %>
    <div class="sticky bord-rad shadow" style="width: 100%; height: 560px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%# -------------MAP----DIV-----END------------- %>
  </div>
</div>



<div id="carouselExampleAutoplaying" class="carousel slide mb-5 px-3" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <% @reviews.each_slice(3).with_index do |review_group, i| %>
      <div class="carousel-item <%= i == 0 ? "active" : "" %>">
        <div class="d-flex justify-content-between px-3">
          <% review_group.each do |review| %>
            <div class="card-review m-2">
              <p> Rating:
                <% review.rating.to_i.times do %>
                  <i class="fa-solid fa-star fa-beat" style="color: #ffb503;"></i>
                <% end %>
              </p>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
