<h1>Hello from new Appointment</h1>


<%# Needed for the page:
  1. We need to present the Doctor's picture, name and specialty.
  2. the form is just requesting procedure and presenting the price
  3. We will have a calendar for the form as start_date and end_date
%>

<div class="container">


  <%= simple_form_for [@doctor, @appointment] do |f| %>
    <%= f.input :start_date, html5: true, input_html: { value: @date } %>
    <%= f.input :end_date, html5: true %>
    <%= f.input :symptoms %>
    <%= f.submit "Checkout", class: "btn btn-primary" %>
  <% end %>


</div>
