<p>appointments-show-page</p>


<div class="container border border-warning">
  <h5>Your Booking has been confirmed! Thank you!</h5>
  <div class="confirmation-details">
    <p><%= @appointment.doctor.first_name %> <%= @appointment.doctor.last_name %></p>
    <%= image_tag(@appointment.doctor.image_url) %>
    <h3><%= @appointment.start_time %></h3>
  </div>
</div>
<div>
  <%= link_to "My Dashboard", appointments_path(current_user) %>
</div>
