<p>appointments-show-page</p>


<div class="container border border-warning">

  <div class="confirmation-details">
    <p>You have an appointment confirmed with: <b><%= @appointment.doctor.first_name %> <%= @appointment.doctor.last_name %></b></p>
    <p> on </p><p><%= @appointment.start_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
    <%= image_tag((@appointment.doctor.image_url), size: "200") %>

  </div>
  <br><p>     Your Booking has been confirmed! Thank you!</p>
</div>
<div>
  <%= link_to "My Dashboard", appointments_path(current_user) %>
</div>
